<% 
def addthree(max)
    # Return a sequence incremented by three up to the max.
    i = 200
    while i <= max
    yield i
    i += 10
    end
end
%>
<div class="gdlr-item gdlr-divider-item"></div>
<!-- <div class="profile_blog_lft">
                <%#= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div> -->
                    <div class="gdlr-lms-container gdlr-lms-container">
                    <div class="gdlr-lms-item">
                       
                <div class="ten column">
                    <%=form_tag subscribes_submitcontact_path, :class =>'gdlr-item gdlr-content-item gdlr-lms-form' do |f| %>
      
        <p class="gdlr-lms-half-left">
             <label>Your Name (required)</label>
             
           <%= text_field_tag 'name' , "",class: 'form-control' ,placeholder: 'Name', 
        :required => 'true' %></p>
            <p class="gdlr-lms-half-left">
             <label>Your Email (required)</label>
             
           <%= text_field_tag 'email' , "",class: 'form-control' ,placeholder: 'Email' %></p>

           <p class="gdlr-lms-half-left">
             <label>Subject</label>
             
          <%= text_field_tag 'subject' , "",class: 'form-control' ,placeholder: 'Subject', :required => 'true' %></p>

          
           <p class="gdlr-lms-half-left">
             <label>Your Message</label>
             
          <%= text_area_tag 'message' , "",class: 'form-control' ,placeholder: 'Message' %></p>
          <div style="width:100%;  text-align: center;">
<%= submit_tag 'Submit',class: 'wpcf7-form-control wpcf7-submit',name: 'send',style:'font-size:15px;margin-top: 13px;'%>
    
</div>
<%end %>
</div>
    <div class="profile_blog_lft" style="border:none">
                <%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div>
          
              <div class="clear"></div>    
              </div>
              </div>