<div class="gdlr-lms-container gdlr-lms-container">
                    <div class="gdlr-lms-item">
<div class="gdlr-item gdlr-divider-item"></div>
<div class="profile_blog_lft" style="border:none">
                <%#= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                <%=image_tag '1.jpg' %>
                </div>
<div class="profile_blog_lft" style="border:none"></div>
<div class="profile_blog_lft" style="border:none"></div>
<div class="seven column" >
<div class=" container">
    <div class="gdlr-item gdlr-content-item" ><p>
    </p><div class="clear"></div>
    <div class="gdlr-space" style=""></div>
    <div class="clear"></div>
    <div class="gdlr-space" style=""></div>
    <div class="wpcf7" id="wpcf7-f8-o1" lang="en-US" dir="ltr">
    <div class="screen-reader-response"></div>
    <%=form_tag profile_createforgotpassword_path, :class =>'gdlr-item gdlr-content-item gdlr-lms-form' do |f| %>

        <p class="gdlr-lms-half-left" style="float:none;width:100%">
            <label>Email Address*</label>
            <%= text_field_tag 'email' , "",class: 'form-control' ,placeholder: 'Email' %></p>
            
 <div style="width:100%;">
<%= submit_tag 'Submit',class: 'wpcf7-form-control wpcf7-submit',name: 'signup',style:'font-size:15px;margin-top: 13px;'%>
</div>

        </div>
    <%end%> 
   
    </div><div class="clear"></div> 
    <div class="row" style="text-align:center" >
            <h5 style="color:#bfbfbf;text-align:center">Or Login with an existing account:</h5>
            
    
    <a class="gdlr-button" href="/auth/facebook" target="_self" style="color:#ffffff; background-color:#3b5998;"><i class="gdlr-icon icon-facebook"></i> Login with Facebook</a>                                                        
    
    <a class="gdlr-button" href="/auth/gplus" target="_self" style="color:#ffffff; background-color:#dd4b39;"><i class="gdlr-icon icon-google-plus"></i> login  with google</a>
    
    
    <a class="gdlr-button" href="/auth/linkedin" target="_self" style="color:#ffffff; background-color:#007bb6;"><i class="gdlr-icon icon-linkedin-sign"></i> login with linkedin</a>

    
    
    <a class="gdlr-button" href="/auth/twitter" target="_self" style="color:#ffffff; background-color:#00aced;"><i class="gdlr-icon icon-twitter"></i> login with twitter</a>
                     
    <div class="clear"></div>
</div>
</div>




                            
                
</div>
   <div class="profile_blog_lft" style="border:none">
                <%#= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                <%=image_tag '1.jpg' %>
                </div>  
   </div>
   </div>
   <div class="clear"></div> 