
<div> <!-- ---------top--------- -->
<div class="gdlr-item gdlr-divider-item"></div>

<div class="two column">
<%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
<!-- <-----add----------> 
</div>
<div class="ten column">
<div class="gdlr-shortcode-wrapper gdlr-row-shortcode">
<div class="three columns">
<div class="gdlr-item gdlr-column-shortcode"> <% unless current_user.image.nil? %>
              <%= image_tag current_user.image.url, :style => "width:300px;height:250px; margin-left: 18px;" %>
                <%else %>
                <img src="/assets/profile.png" alt="Edit Entry" style="width:300px;height:250px;" />
                
                
            <% end %>
            <div id="recent-posts-5" class="widget widget_recent_entries gdlr-item gdlr-widget" style="color:black">    <div class="clear"></div>    <ul>
          <li><i class="icon-envelope-alt" style="color: black; font-size: 16px; "></i><a href="<%= mailboxes_mailbox_path %>">Mailbox</a></li>
                                <li><i class="icon-location-arrow" style="color: black; font-size: 16px;"></i><a href="<%= mailboxes_newest_path %>">Send Message</a></li>
                                <li><i class="icon-plus-sign" style="color: black; font-size: 16px; "></i><a href="<%= schools_profile_path %>">Add School</a></li>
                                <!-- <li><a href="#">View Profile</a><img src="images/profile-list_pics_20.png" alt=""></li> -->
                               <!--  <li><i class="icon-search" style="color: black; font-size: 16px;"></i><a href="<%= profile_bookmarklist_path %>">Bookmark List</a></li> -->
                                <li><div class="mtbtn" title="Post a new topic" style="display:inline-block"><i class="icon-edit" style="color: black; font-size: 16px;"></i>
      <a  data-rel="gdlr-lms-lightbox" data-lb-open="login-form" style="color:black; background-color:white; ">Edit Profile</a>
    </div></li>
        </ul>
    </div>


            </div>
</div>
<div class ="nine column">
<div class="six columns">
<div class="gdlr-item gdlr-column-shortcode">
  <h3 class="column-service-title"><%=current_user.username %></h3>
  <div class="hover">
                    <%= image_tag 'congo.jpg', :style => 'margin-top: -12px;'%>
                    <div class="tooltip">
                            <%
                                @username=Like.where('puser_id = ?',current_user.id)
                            %>
                            <% unless @username.empty? %>
                            <%
                                 @username.each do |f|
                                 
                            %>
                                  <% f.puser_id      
                                  @likename=Member.find_by_id(f.cuser_id)
                                  %> 

                                  <%= @likename.username %>
                                  <br>
                            <%
                                end
                                
                            %>
                            <% else %>
                             No Members...
                            <%
                              end
                             %>

                            



                          </div>
                </div>
                        <% 
                          @count=Like.where('puser_id = ?',current_user.id).count 
                          
                        %>        
                        
                         <div style="width:31px;height:25px;background-color:green;border: 0px solid;border-radius: 30px;text-align: center;color: white;display: inline-block;margin-left: 5px;" ><%= @count %>

                          

                         </div>  Have Congratulated You
                            
                           </div>
                           </div>
                           <div class="six column">
                            
                              
<%=form_tag profile_viewusers_path, :method => 'get' do |f|  %>
     <%= text_field_tag 'username' , "",:style => 'color:black; background-color:white; border:1px solid;border-color: #D7D1D1;border-radius: 4px;margin-top: -15px;',:placeholder => 'Enter member name', :id => 'tags'  %>
     <%= submit_tag 'Search',:style => 'padding: 10px;color:white; background-color:#F7BD4F;' %>
<% end -%>
<!-- <select id="demo" style="margin-top: -13px;position: absolute;left: 928px;width: 228px;background-color: white;border-color: #D7D1D1;display:none;   margin-left: -7%;"><option value="">----select--------</option></select> -->


                               
                            
                            </div>
</div>
</div>
<div class="clear"></div>
</div>
</div>


<div class="clear">